.menu-btn {
    width: 30px;
    height: 30px;
    
    
    z-index: 1;
    background-image: url("menu-icon.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    } 
    
    
    #menu {
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: -152px;
    z-index: 10;
    background-color: white;
    text-align: center;
    transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    } 
    
    #menu.open {
    right: 0px;
    }
    .page_cover.open {
    display: block;
    }
    
    .page_cover {
    width: 100%;
    height: 100%;
    position: fixed;
      top: 0px;
      left: 0px;
    background-color: rgba(0,0,0,0.4);
    z-index: 4;
    display: none;
    }